.desktop-icons
{
	position:absolute;
}

.desktop-icon .inline
{
	display: inline;
	width: 75px !important;
}

.desktop-icons .desktop-icon
{
	cursor: pointer;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding: 1px;
	margin: 1px;
	margin-left: 3px;
	width: 60px;
	height: 75px;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.desktop-icons .desktop-icon:before
{
	display: inline-block;
}

.desktop-icons .desktop-icon:hover
{
	border: 1px dotted white;
	padding: 0;
}

.desktop-icons .desktop-icon img
{
	width: 48px;
	height: 48px;
	top: 0;
	padding-left: 8px;
}

.desktop-icons .desktop-icon span
{
	color: white;
	text-shadow: 2px 0 0 grey;
	width: 64px;
	top: 48px;
	text-align: center;
}

.desktop-icons .desktop-icon:hover
{
	background-color: rgb(0,0,128);
}
